<template>
    <section style="background-color: black">
        <v-parallax dark src="../resources/images/KakaoTalk_20200405_032714949.jpg">
            <v-row align="center" justify="center">
                <v-col class="text-center" cols="12">
                    <h1 style="font-weight: inherit; font-size: 50px">HYEONGJUN JAMES SI</h1>
                    <h1 style="font-weight: lighter; font-size: 30px"># FRONT-END ENGINEER</h1>
                    <br>
                    <v-btn class="align-self-end" fab outlined @click="$vuetify.goTo('#hero')" dark>
                        <v-icon>mdi-chevron-double-down</v-icon>
                    </v-btn>
                </v-col>
            </v-row>
        </v-parallax>
        <section id="hero" style="background-color: black; overflow: hidden; max-width: 1400px; margin: 0 auto; padding: 5% 0;">
            <v-row>
                <v-col style="max-width: 300px">
                    <v-img src="../resources/images/james/james08.jpg"></v-img>
                </v-col>
                <v-col style="max-width: 500px">
                    <v-img src="../resources/images/james/james09.jpg"></v-img>
                </v-col>
                <v-col style="max-width: 600px">
                    <v-img src="../resources/images/james/james_rnb.jpg"></v-img>
                </v-col>
                <v-col style="max-width: 800px">
                    <v-img src="../resources/images/james/james03.jpg"></v-img>
                </v-col>
                <v-col style="max-width: 600px">
                    <v-img src="../resources/images/james/james_gameJam.jpg"></v-img>
                </v-col>
            </v-row>
        </section>
    </section>
</template>

<script>
    export default {
        data: () => ({})
    }
</script>