<template>
    <v-footer dark padless>
        <v-card class="white--text text-center" style="width: 2000px">
            <v-row>
                <v-spacer></v-spacer>
                <v-col style="text-align: left; margin-left: 100px">
                    <h1 style="font-size: 23px">SI HYEONGJUN</h1><br>
                    <h1 style="font-size: 19px">SOFTWARE DEVELOPER</h1>
                    <h1 style="font-size: 17px">#FRONT-END</h1>
                    <h1 style="font-size: 17px">#BACK-END</h1>
                    <h1 style="font-size: 17px">#DATABASE</h1>
                </v-col>
                <v-col style="text-align: left">
                    <h1 style="font-size: 23px">GET IN TOUCH</h1><br>
                    <h1 style="font-size: 17px">Phone. 010 9444 7662</h1>
                    <h1 style="font-size: 17px">E-mail. hyeongjun_si@daum.net</h1>
                </v-col>
                <v-col style="text-align: left">
                    <h1 style="font-size: 23px">TISTORY</h1><br>
                    <h1 style="font-size: 17px">http://junsday.tistory.com</h1>
                </v-col>
                <v-spacer></v-spacer>
            </v-row>

            <v-card-text class="white--text pt-0">


            </v-card-text>

            <v-divider></v-divider>

            <v-card-text class="white--text">
                 <strong>Copyright {{ new Date().getFullYear() }}. James Si. All rights reserved</strong>
            </v-card-text>
        </v-card>
    </v-footer>
</template>

<script>
    export default {
        data: () => ({
            icons: [
                'fab fa-facebook',
                'fab fa-twitter',
                'fab fa-google-plus',
                'fab fa-linkedin',
                'fab fa-instagram'
            ]
        })
    }
</script>