<template>
    <section>
        <v-navigation-drawer
                :color="color"
                v-model="primaryDrawer.model"
                :clipped="primaryDrawer.clipped"
                :floating="primaryDrawer.floating"
                :mini-variant="primaryDrawer.mini"
                :permanent="primaryDrawer.type === 'permanent'"
                :temporary="primaryDrawer.type === 'temporary'"
                app
                overflow>
        </v-navigation-drawer>
        <v-app-bar :clipped-left="primaryDrawer.clipped" app color="rgba(0,0,0,0.2)" dark>
            <v-app-bar-nav-icon v-if="primaryDrawer.type !== 'permanent'" @click.stop="primaryDrawer.model = !primaryDrawer.model"/>
            <v-toolbar-title>SI HYEONGJUN</v-toolbar-title>
        </v-app-bar>
    </section>
</template>

<script>
    export default {
        data: () => ({
            color: 'rgba(0,0,0,0.9)',
            primaryDrawer: {
                model: null,
                type: 'temporary',
                clipped: true,
                floating: true,
                mini: false,
            }
        })
    }
</script>
