<template>
    <v-app>
        <component-header></component-header>
        <component-body></component-body>
        <component-footer></component-footer>
    </v-app>
</template>

<script>
    import header from './header'
    import body from './body'
    import footer from './footer'

    export default {
        data: function(){
            return{
            }
        },
        components: {
            'component-header' : header,
            'component-body' : body,
            'component-footer' : footer
             },
        methods: {
        }
    }
</script>