<template>
    <v-app>
        <component-header></component-header>
        <component-body></component-body>
        <component-footer></component-footer>
    </v-app>
</template>

<script>
    import Header from "./Header";
    import Body from "./Body";
    import Footer from "./Footer";

    export default {
        name: 'hwan',

        components: {
            'component-header' : Header,
            'component-body' : Body,
            'component-footer' : Footer
        },
    }

</script>

<style>

</style>
