<template>
    <v-app>
        <v-app-bar app color="white" height="100">
            <v-img style="margin-left: 10px" max-width="600px" src="../resources/images/logo3.png"></v-img>
        </v-app-bar>

        <v-content>
            <section id="hero">
                <v-row no-gutters>
                    <v-img
                            :min-height="'calc(100vh - ' + $vuetify.application.top + 'px)'"
                            max-height="900px"
                            src="../resources/images/KakaoTalk_20200405_031507812.jpg">
                        <!--                            src="https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80">-->
                        <v-theme-provider dark>
                            <v-container fill-height>
                                <v-row align="center" class="white--text mx-auto" justify="center">
                                    <v-col class="white--text text-center" cols="12" tag="h1">
                                        <span style="font-size: 60px">
                                        THE PEOPLE WHO
                                        </span>
                                        <br>
                                        <span style="font-size: 90px">
                                        CODING
                                        </span>
                                        <br>
                                    </v-col>
                                    <v-btn class="align-self-end" fab outlined @click="$vuetify.goTo('#about-me')">
                                        <v-icon>mdi-chevron-double-down</v-icon>
                                    </v-btn>
                                </v-row>
                            </v-container>
                        </v-theme-provider>
                    </v-img>
                </v-row>
            </section>
            <section id="about-me">
                <div class="py-12"></div>
                <v-container class="text-center">
                    <h2 class="display-2 font-weight-bold mb-3">ABOUT US</h2>

                    <v-responsive class="mx-auto mb-8" width="56">
                        <v-divider class="mb-1"></v-divider>

                        <v-divider></v-divider>
                    </v-responsive>

                    <v-row>
                        <v-col>
                            <v-responsive class="mx-auto title font-weight-light mb-8" max-width="720">
                                <span style="font-size: 30px">SI HYEONGJUN</span><br>
                                FRONT-END ENGINEER
                            </v-responsive>
                            <v-avatar class="elevation-12 mb-12" size="200">
                                <v-img src="../resources/images/profile/james.jpg"></v-img>
                            </v-avatar>
                            <div></div>
                            <router-link :to="{ path: '/james' }">
                                <v-btn color="grey" outlined large>
                                    <span class="grey--text text--darken-1 font-weight-bold">
                                    READ MORE
                                    </span>
                                </v-btn>
                            </router-link>
                        </v-col>
                        <v-col>
                            <v-responsive class="mx-auto title font-weight-light mb-8" max-width="720">
                                <span style="font-size: 30px">JEON BYEONGJAE</span><br>
                                BACK-END ENGINEER
                            </v-responsive>
                            <v-avatar class="elevation-12 mb-12" size="200">
                                <v-img src="../resources/images/profile/jae.png"></v-img>
                            </v-avatar>
                            <div></div>
                            <router-link :to="{ path: '/David' }">
                                <v-btn color="grey" outlined large>
                                    <span class="grey--text text--darken-1 font-weight-bold">
                                    READ MORE
                                    </span>
                                </v-btn>
                            </router-link>
                        </v-col>
                        <v-col>
                            <v-responsive class="mx-auto title font-weight-light mb-8" max-width="720">
                                <span style="font-size: 30px">LEE JONGHWAN</span><br>
                                FULL-STACK STUDENT
                            </v-responsive>
                            <v-avatar class="elevation-12 mb-12" size="200">
                                <v-img src="../resources/images/profile/hwan.png"></v-img>
                            </v-avatar>
                            <div></div>
                            <router-link :to="{ path: '/Hwan' }">
                                <v-btn color="grey" outlined large>
                                    <span class="grey--text text--darken-1 font-weight-bold">
                                    READ MORE
                                    </span>
                                </v-btn>
                            </router-link>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-responsive class="mx-auto title font-weight-light mb-8" max-width="720">
                                <span style="font-size: 30px">CHOI HYEOKSOO</span><br>
                                BACK-END ENGINEER
                            </v-responsive>
                            <v-avatar class="elevation-12 mb-12" size="200">
                                <v-img src="../resources/images/profile/soo.png"></v-img>
                            </v-avatar>
                            <div></div>
                            <router-link :to="{ path: '/Hyeoksoo' }">
                                <v-btn color="grey" outlined large>
                                    <span class="grey--text text--darken-1 font-weight-bold">
                                    READ MORE
                                    </span>
                                </v-btn>
                            </router-link>
                        </v-col>
                        <v-col>
                            <v-responsive class="mx-auto title font-weight-light mb-8" max-width="720">
                                <span style="font-size: 30px">KIM YOUNGWOON</span><br>
                                FRONT-END ENGINEER
                            </v-responsive>
                            <v-avatar class="elevation-12 mb-12" size="200">
                                <v-img src="../resources/images/profile/woon.png"></v-img>
                            </v-avatar>
                            <div></div>
                            <router-link :to="{ path: '/Woon' }">
                                <v-btn color="grey" outlined large>
                                    <span class="grey--text text--darken-1 font-weight-bold">
                                    READ MORE
                                    </span>
                                </v-btn>
                            </router-link>
                        </v-col>
                    </v-row>
                </v-container>
                <div class="py-12"></div>
            </section>

            <section id="features" class="grey lighten-3">
                <div class="py-12"></div>

                <v-container class="text-center">
                    <h2 class="display-2 font-weight-bold mb-3">

                        Even if it's not a big step forward,<br><br>
                        you just need to find the right direction.<br>

                    </h2>
                    <v-row>
                        <v-col v-for="({ icon, title, text }, i) in features" :key="i" cols="12" md="4">
                            <v-card class="py-12 px-4" color="grey lighten-5" flat>
                                <v-theme-provider dark>
                                    <div>
                                        <v-avatar color="primary" size="88">
                                            <v-icon large v-text="icon"></v-icon>
                                        </v-avatar>
                                    </div>
                                </v-theme-provider>

                                <v-card-title class="justify-center font-weight-black text-uppercase" v-text="title"></v-card-title>

                                <v-card-text class="subtitle-1" v-text="text">
                                </v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>

                <div class="py-12"></div>
            </section>

            <section id="stats">
                <v-parallax
                        :height="$vuetify.breakpoint.smAndDown ? 700 : 500"
                        src="../resources/images/h6h9ksy10j.jpg">
                    <v-container fill-height>
                        <v-row class="mx-auto">
                            <v-col v-for="[value, title] of stats" :key="title" cols="12" md="3">
                                <div class="text-center">
                                    <div class="display-3 font-weight-black mb-4" v-text="value"></div>

                                    <div class="title font-weight-regular text-uppercase" v-text="title"></div>
                                </div>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-parallax>
            </section>
        </v-content>
        <v-footer class="justify-center" color="#292929" height="100">
            <div class="title font-weight-light grey--text text--lighten-1 text-center">
                Made by THE PEOPLE WHO CODING
            </div>
        </v-footer>
    </v-app>
</template>

<script>
    export default {}
</script>

<style>

</style>
