<template>
    <v-app>
        <v-app-bar app color="white" height="100">
            <v-img style="margin-left: 10px" max-width="800px" src="../resources/images/IPP_logo.png"></v-img>
            <!--            <v-avatar class="mr-3" color="grey lighten-5" size="70">-->
            <!--                <v-img src="../resources/images/IPP_logo.png"></v-img>-->
            <!--            </v-avatar>-->

            <v-toolbar-title class="font-weight-black headline">
                VUETIFY
            </v-toolbar-title>
        </v-app-bar>

        <v-content>
            <section id="hero">
                <v-row no-gutters>
                    <v-img
                            :min-height="'calc(100vh - ' + $vuetify.application.top + 'px)'"
                            max-height="900px"
                            src="../resources/images/KakaoTalk_20200405_031507812.jpg">
                        <!--                            src="https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80">-->
                        <v-theme-provider dark>
                            <v-container fill-height>
                                <v-row align="center" class="white--text mx-auto" justify="center">
                                    <v-col class="white--text text-center" cols="12" tag="h1">
                                        <span class="font-weight-light" :class="[$vuetify.breakpoint.smAndDown ? 'display-1' : 'display-2']">
                                        WELCOME TO
                                        </span>
                                        <br>
                                        <span :class="[$vuetify.breakpoint.smAndDown ? 'display-3': 'display-4']" class="font-weight-black">
                                        HOT-DOG WORLD
                                        </span>
                                    </v-col>
                                    <v-btn class="align-self-end" fab outlined @click="$vuetify.goTo('#about-me')">
                                        <v-icon>mdi-chevron-double-down</v-icon>
                                    </v-btn>
                                </v-row>
                            </v-container>
                        </v-theme-provider>
                    </v-img>
                </v-row>
            </section>
            <section id="about-me">
                <div class="py-12"></div>
                <v-container class="text-center">
                    <h2 class="display-2 font-weight-bold mb-3">ABOUT US</h2>

                    <v-responsive class="mx-auto mb-8" width="56">
                        <v-divider class="mb-1"></v-divider>

                        <v-divider></v-divider>
                    </v-responsive>

                    <v-row>
                        <v-col>
                            <v-responsive class="mx-auto title font-weight-light mb-8" max-width="720">
                                <span style="font-weight: bold">James Si</span> #Front-end engineer
                            </v-responsive>
                            <v-avatar class="elevation-12 mb-12" size="200">
                                <v-img src="../resources/images/profile/james.jpg"></v-img>
                            </v-avatar>
                            <div></div>
                            <v-btn color="grey" href="https://vuetifyjs.com" outlined large>
                        <span class="grey--text text--darken-1 font-weight-bold">
                        Vuetify Documentation
                        </span>
                            </v-btn>
                        </v-col>
                        <v-col>
                            <v-responsive class="mx-auto title font-weight-light mb-8" max-width="720">
                                <span style="font-weight: bold">David Jeon</span>
                                #Back-end engineer
                            </v-responsive>
                            <v-avatar class="elevation-12 mb-12" size="200">
                                <v-img src="../resources/images/profile/jae.png"></v-img>
                            </v-avatar>
                            <div></div>
                            <v-btn color="grey" href="https://vuetifyjs.com" outlined large>
                        <span class="grey--text text--darken-1 font-weight-bold">
                        Vuetify Documentation
                        </span>
                            </v-btn>
                        </v-col>
                        <v-col>
                            <v-responsive class="mx-auto title font-weight-light mb-8" max-width="720">
                                <span style="font-weight: bold">Hwan Lee</span>
                                #Student
                            </v-responsive>
                            <v-avatar class="elevation-12 mb-12" size="200">
                                <v-img src="../resources/images/profile/hwan.png"></v-img>
                            </v-avatar>
                            <div></div>
                            <v-btn color="grey" href="https://vuetifyjs.com" outlined large>
                        <span class="grey--text text--darken-1 font-weight-bold">
                        Vuetify Documentation
                        </span>
                            </v-btn>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-responsive class="mx-auto title font-weight-light mb-8" max-width="720">
                                <span style="font-weight: bold"> Hyeoksoo Choi</span>
                                #Back-end engineer
                            </v-responsive>
                            <v-avatar class="elevation-12 mb-12" size="200">
                                <v-img src="../resources/images/profile/soo.png"></v-img>
                            </v-avatar>
                            <div></div>
                            <v-btn color="grey" href="https://vuetifyjs.com" outlined large>
                        <span class="grey--text text--darken-1 font-weight-bold">
                        Vuetify Documentation
                        </span>
                            </v-btn>
                        </v-col>
                        <v-col>
                            <v-responsive class="mx-auto title font-weight-light mb-8" max-width="720">
                                <span style="font-weight: bold">Youngwoon Kim</span>
                                #Front-end engineer
                            </v-responsive>
                            <v-avatar class="elevation-12 mb-12" size="200">
                                <v-img src="../resources/images/profile/woon.png"></v-img>
                            </v-avatar>
                            <div></div>
                            <v-btn color="grey" href="https://vuetifyjs.com" outlined large>
                        <span class="grey--text text--darken-1 font-weight-bold">
                        Go to Woon's Page
                        </span>
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-container>

                <div class="py-12"></div>
            </section>

            <section id="features" class="grey lighten-3">
                <div class="py-12"></div>

                <v-container class="text-center">
                    <h2 class="display-2 font-weight-bold mb-3">아무말 대잔치</h2>

                    <v-responsive class="mx-auto mb-12" width="56">
                        <v-divider class="mb-1"></v-divider>

                        <v-divider></v-divider>
                    </v-responsive>

                    <v-row>
                        <v-col v-for="({ icon, title, text }, i) in features" :key="i" cols="12" md="4">
                            <v-card class="py-12 px-4" color="grey lighten-5" flat>
                                <v-theme-provider dark>
                                    <div>
                                        <v-avatar color="primary" size="88">
                                            <v-icon large v-text="icon"></v-icon>
                                        </v-avatar>
                                    </div>
                                </v-theme-provider>

                                <v-card-title class="justify-center font-weight-black text-uppercase" v-text="title"></v-card-title>

                                <v-card-text class="subtitle-1" v-text="text">
                                </v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>

                <div class="py-12"></div>
            </section>

            <section id="stats">
                <v-parallax
                        :height="$vuetify.breakpoint.smAndDown ? 700 : 500"
                        src="https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
                    <v-container fill-height>
                        <v-row class="mx-auto">
                            <v-col v-for="[value, title] of stats" :key="title" cols="12" md="3">
                                <div class="text-center">
                                    <div class="display-3 font-weight-black mb-4" v-text="value"></div>

                                    <div class="title font-weight-regular text-uppercase" v-text="title"></div>
                                </div>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-parallax>
            </section>
            <v-sheet id="contact" color="#333333" dark tag="section" tile>
                <div class="py-12"></div>

                <v-container>
                    <h2 class="display-2 font-weight-bold mb-3 text-uppercase text-center">Contact Me</h2>

                    <v-responsive class="mx-auto mb-12" width="56">
                        <v-divider class="mb-1"></v-divider>

                        <v-divider></v-divider>
                    </v-responsive>

                    <v-theme-provider light>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field flat label="Name*" solo></v-text-field>
                            </v-col>

                            <v-col cols="12">
                                <v-text-field flat label="Email*" solo></v-text-field>
                            </v-col>

                            <v-col cols="12">
                                <v-text-field flat label="Subject*" solo></v-text-field>
                            </v-col>

                            <v-col cols="12">
                                <v-textarea flat label="Message*" solo></v-textarea>
                            </v-col>

                            <v-col class="mx-auto" cols="auto">
                                <v-btn color="accent" x-large>
                                    Submit
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-theme-provider>
                </v-container>

                <div class="py-12"></div>
            </v-sheet>
        </v-content>

        <v-footer class="justify-center" color="#292929" height="100">
            <div class="title font-weight-light grey--text text--lighten-1 text-center">
                &copy; {{ (new Date()).getFullYear() }} — Vuetify, LLC — Made with 💜 by John Leider
            </div>
        </v-footer>
    </v-app>
</template>

<script>
    export default {}
</script>

<style>

</style>
